beautifulsoup4
click
cycler
distributed
Flask
gunicorn
itsdangerous
Jinja2
joblib
json5
jsonschema
kiwisolver
Markdown
MarkupSafe
matplotlib
numpy
pandas
pickleshare
python-dateutil
python-jsonrpc-server
python-language-server
pytz
PyYAML
requests
requests-oauthlib
scikit-learn
scipy
seaborn
six
statsmodels
urllib3
Werkzeug
