beautifulsoup4==4.9.0
click==7.1.2
cycler==0.10.0
distributed==2.16.0
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
json5==0.9.4
jsonschema==3.2.0
kiwisolver==1.2.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.1.3
numpy==1.18.1
pandas==1.0.3
pickleshare==0.7.5
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.10
pytz==2020.1
PyYAML==5.3.1
requests==2.23.0
requests-oauthlib==1.3.0
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.1
six==1.14.0
statsmodels==0.11.0
urllib3==1.26.5
Werkzeug==1.0.1
