.space {
  min-height: 1rem;
}

.boston {
  font-size: 2rem !important;
}

.boston-price {
  font-size: 4rem !important;
  color: #0000ff !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: calc(100% - 30rem) !important;
    margin: 1rem auto;
  }
}
