{% extends "base.html" %}

{% block title %}Boston House Price Prediction{% endblock %}

{% block css_links %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/boston.min.css')}}">
{% endblock %}

{% block content %}

<div class="container">
	<div class="space"></div>
	<h2 class="text-center">BOSTON HOUSE PRICE PREDICTOR</h2>
	<div class="space"></div>
	<div class="row">
		<div class="offset-md-3 col-md-6">
			<div class="card">
				<div class="card-body">
					<form method="POST">
						<div class="form-group">
							<label for="lstat">Lower Status Population Percentage</label>
							<input name="lstat" type="text" class="form-control" id="lstat" aria-describedby="emailHelp">
						</div>
						<div class="form-group">
							<label for="rm">Average number of rooms per dwelling</label>
							<input name="rm" type="text" class="form-control" id="rm" aria-describedby="emailHelp">
						</div>
						<div class="form-group">
							<label for="ptratio">Pupil-Teacher ratio by town</label>
							<input name="ptratio" type="text" class="form-control" id="ptratio" aria-describedby="emailHelp">
						</div>
						<div class="form-group">
							<label for="indus">Proportion of non-retail business acres per town</label>
							<input name="indus" type="text" class="form-control" id="indus" aria-describedby="emailHelp">
						</div>
						<div class="form-group">
							<label for="tax">Full-value property-tax rate per 10,000 dollars</label>
							<input name="tax" type="text" class="form-control" id="tax" aria-describedby="emailHelp">
						</div>
						<div class="form-group">
							<label for="nox">Nitric Oxides concentration (parts per 10 million)</label>
							<input name="nox" type="text" class="form-control" id="nox" aria-describedby="emailHelp">
						</div>
						<button type="submit" class="btn btn-primary">Predict</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="space"></div>
	<div class="space"></div>


	<!-- Boston House Price Prediction Modal -->
	{% if price_predicted %}
	<div class="modal fade" id="loanStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Boston House Price Prediction</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<div class="row">
	      		<div class="col"><h4 class="text-center boston">Boston House Price Predicted</h4></div>
	      	</div>
	      	<div class="row">
	      		<div class="col"><h2 class="text-center boston-price">$ {{ price_predicted[0] }}</h2></div>
	      	</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	{% endif %}




</div>


{% endblock %}



{% block js_scripts %}
<!-- Launches Output Modal -->
	<script type="text/javascript">
    $(window).on('load',function(){
        $('#loanStatus').modal('show');
    });
</script>
{% endblock %}