{% extends "base.html" %}

{% block title %}Gender Classifier{% endblock %}

{% block css_links %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/gender.min.css')}}">

{% if gender_predicted %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Gender", "Probability", { role: "style" } ],
        ["Male", {{ predict_proba[0][1] }}, "#0000ff"],
        ["Female", {{ predict_proba[0][0] }}, "#00ff00"]

      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Gender",
        height: 450,
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }
  </script>

{% endif %}

{% endblock %}
{% block content %}

<div class="container">
	<div class="space"></div>
	<h2 class="text-center">GENDER CLASSIFIER</h2>
	<div class="space"></div>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<form method="POST">
						<div class="form-group">
							<label for="height">Height (inches)</label>
							<input name="height" type="text" class="form-control" id="height" aria-describedby="emailHelp">
						</div>
						<div class="form-group">
							<label for="weight">Weight (pounds)</label>
							<input name="weight" type="text" class="form-control" id="weight" aria-describedby="emailHelp">
						</div>
						<button type="submit" class="btn btn-primary">Predict</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			{% if gender_predicted %}
			<div class="card">
				<div class="card-body">
				<div id="columnchart_values" style="width: 100%;"></div>					
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	<div class="space"></div>
	<div class="space"></div>


	<!-- Gender Classifier Modal -->
	{% if gender_predicted %}
	<div class="modal fade" id="loanStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Gender</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	{% if gender_predicted[0] == 'Male' %}
	      		<div class="text-center male">Male</div>
	      	{% else %}
	      		<div class="text-center female">Female</div>
	      	{% endif %}

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	{% endif %}




</div>


{% endblock %}



{% block js_scripts %}
	<script type="text/javascript">
    $(window).on('load',function(){
        $('#loanStatus').modal('show');
    });
</script>
{% endblock %}